@{
    ViewData["Title"] = "HomePage";
}

<div class="div1">
    <h1 style="margin-top:50px; margin-left:26px; font-family:fantasy; color:honeydew; font-size:110px; text-decoration:underline">The Painters Palette</h1>
    <p style="; color:honeydew; font-size:20px">
        Welcome to The Painters Palette!
        All artists welcome. All art available for print. Tutorials also made available, free!
        <img src="/Images/fantasy.jpg" class="img-fluid" alt="..." style="margin-left:110px; margin-top:0px; border:solid" />
    </p>
</div>
